.contenido {
    &__slides {
        display: flex;
        width: 100vw;
        min-width: 100vw;
        height: 75vh;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        flex: none;

        &__slide {
            min-width: 100%;
            scroll-snap-align: center;
        }
    }
    &__dots {
        display: flex;
        width: 100%;
        position: absolute;
        z-index: 1;
        margin-top: -20px;
        justify-content: center;
        column-gap: 10px;

        &__dot {
            height: 6px;
            background-color: rgba(255, 255, 255, 0.334);
            width: 30px;
        }
        .active {
            background-color: rgba(255, 255, 255, 0.955);
        }
    }
}