.menu {
    background-color: rgba(0, 0, 0, 0.926);
    height: 100vh;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__salida {
        display: flex;
        justify-content: end;
        img {
            animation: aparecer .5s;
            cursor: pointer;
            width: 20px;
            filter: invert(100%);
            margin: 20px;
        }
    }
    &__enlaces {
        margin: 20px;
        animation: aparecer .5s;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        margin: 35vh 20px 0 0;

        a {
            font-size: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            margin-bottom: 10px;
            color: $blanco;
            text-align: end;
            width: 140px;
            border-bottom: 2px solid rgba(255, 0, 0, 0);

            &:hover {
                border-bottom: 2px solid $empresa;
            }
        }
    }
}
.ocultar-menu {
    width: 0%;
    animation: ocultarMenu .5s;
}
.mostrar-menu {
    width: 65%;
    animation: mostrarMenu .5s;
}
.menu.ocultar-menu {
    .menu__enlaces,
    .menu__salida {
        margin-right: -150px;
        animation: desaparecer .5s;
    }
}
@keyframes ocultarMenu {
    0% { width: 65% };    
    to { width: 0% };    
}
@keyframes mostrarMenu {
    0% { width: 0% };    
    to { width: 65% };    
}
@keyframes desaparecer {
    0% { margin-right: 0px };       
    to { margin-right: -150px };    
}
@keyframes aparecer {
    0% { margin-right: -150px };    
    to { margin-right: 20px };       
}
